<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Slumber" version="0.2.4" targetFramework="net452" />
  <package id="Trackmatic.Client" version="2.1.70-beta" targetFramework="net452" />
  <package id="Trackmatic.Contracts" version="0.0.4" targetFramework="net452" />
  <package id="Trackmatic.Ddd" version="0.0.22" targetFramework="net452" />
</packages>